.row {
  display: flex;
}

.row.is-multiline {
  flex-wrap: wrap;
}

.row.--left{
  justify-content: flex-start;
}

.row.--mid-x{
  justify-content: center;
}

.row.--right{
  justify-content: flex-end;
}

.row.--space-bt{
  justify-content: space-between;
}

.row.--space-ar{
  justify-content: space-around;
}

.row.--space-ev{
  justify-content: space-evenly;
}

.row.--top{
  align-items: flex-start;
}

.row.--mid-y{
  align-items: center;
}

.row.--bottom{
  align-items: flex-end;
}

.row.--baseline{
  align-items: baseline;
}

.row.--head{
  align-content: flex-start;
}

.row.--center{
  justify-content: center;
  align-content: center;
}

.row > .col {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

@media (min-width:$tablet) {
  .row.size-sm > .col {
    width: calc(50% - 2rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (min-width:$desktop) {
  .row.size-sm > .col {
    width: calc(25% - 2rem);
  }
}

@media (min-width:$tablet) {
  .row.size-md > .col {
    width: calc(50% - 2rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (min-width:$desktop) {
  .row.size-md > .col {
    width: calc(33.3333% - 2rem);
  }
}

@media (min-width:$desktop) {
  .row.size-lg > .col {
    width: calc(50% - 2rem);
  }
}


@for $i from 1 to 13 {
  .row > .is-#{$i} {
    flex: 0 0 (100% / 12 * $i);
  }
}

@each $name, $value in $max-breakpoints {
  .row.from-#{$name}{
    @media (max-width:$value) {
      > div{
        flex: 0 0 100%;
      } 
    }
  }
}